/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 30, 2016, 1:43:25 PM
    Author     : BrandConstantin
*/

/******************************************/
/* diseño responsive*/

@media screen and (max-width:768px){
    #login{
        width: 100%;
        background-color: #646269;
        box-shadow: 0 10px 10px 10px rgba(0,0,5,0.4), 0 10px 10px 25px rgba(0,0,5,0.4), 0 10px 10px 10px rgba(0,0,5,0.4);
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 15px;
    }
  
    #login2{
        width: 45%;
        height: 100%;
        margin-left: 3%;
        padding-left: 4px;
      }
  
    .logo img{
        margin-left: 5%;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100px;
        height: 30px; 
    }
}

@media screen and (max-width:992px){
    body{
        font-size: 12px;
    }
    
    #shadow {
        font-weight: bolder;
        font-size: 20px;
        text-shadow: 5px 0px #fa0, 5px 5px rgba(0,0,0,.10);
        width: 40%;
    }
    
    #listMenuIndex {
        display: -webkit-flex;
        -webkit-flex-direction: row-reverse;
        display: flex;
        flex-direction: row-reverse;
        width: 85%;
        margin-top: -5%;
        float: right;
        margin-right: 5%;
    }
    
    #listMenuIndex li {
        font-size: 12px;
        margin-top: 6px;
    }
    
    #listMenuIndex a:hover{
	font-size: 12px;
    }
    
    .form-control{
        padding: 2px 2px;
    }
    
    h1{
        font-size: 12px;
    }
    
    #register {
        float: left;
        width: 30%;
        margin-top: 5%;
    }
    
    #login{
        width: 100%;
        background-color: #646269;
        box-shadow: 0 10px 10px 10px rgba(0,0,5,0.4), 0 10px 10px 25px rgba(0,0,5,0.4), 0 10px 10px 10px rgba(0,0,5,0.4);
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 15px;
    }
    
    #register2 {
        float: left;
        width: 55%;
        margin-top: 5%;
    }
    
    #login2{
        width: 70%;
        height: 100%;
        margin-left: 10%;
        padding-left: 7px;
    }
    
    #pubId, #usuarioId, #contrasenaId{
        width: 90%;
    }
    
    .logo img{
        margin-left: 5%; 
        margin-top: 40px;
        margin-bottom: 40px;
        width: 150px;
        height: 60px;
    }
    
    #galery{
        width: 60%;
    }
    
    .btn{
        width: 99%;
        font-size: 9px;
        margin: 2px;
    }
    
    #slideshowUser{
        margin-bottom: 30px;
    }
    
    .userTable{
        margin-left: 5%;
        margin-right: 5%;
    }
}