/* 
    Created on : Nov 25, 2016, 11:14:38 PM
    Author     : constantin brindusoiu
*/

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,700,900&subset=latin,latin-ext);

body{
    background-color: #1C1B1F;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

h1, h2, h3{
    color: #fa0;
    font-size: 22px;
    font-weight: bold;
}

label{
    color: #fa0;
}

/*********************************************/
/* bootstrap */
.glyphicon, label{
    font-weight: 200;
}

.form-control{
    padding: 9px 22px;
}

.btn{
    padding: 5px;
    border-radius: 15%;
    font-size: 12px;
}

.btn-default{
    background-color: #fa0;
    color: #000;
}

.btn-default:hover{
    background-color: #245588;
    color: #fa0;
}

/*********************************************/
#header{
    float: left;
    margin-left: 5%;
    width: 90%;
    margin-top: 2%;
    margin-bottom: 2%; 
    display: inline;
    border-bottom: 1px dotted #fa0;
}

#listMenuIndex{
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
    display: flex;
    flex-direction: row-reverse;
    width: 65%;
    margin-top: -3%;
    float: right;
    margin-right: 5%;
}

#listMenuIndex li{
    list-style: none;  
    padding-right: 5%;
    font-size: 17px;
    color: #fa0;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
}

#listMenuIndex .mesageSesion{
    font-size: 12px;
    font-weight: lighter;
    margin-top: 6px;
    text-transform: none;
}

#listMenuIndex a{
    color: #fa0;
}

#listMenuIndex a:hover{
	color: #245588;
	font-size: 17px;
        text-decoration: none;
        text-shadow: 5px 5px #000, 1px 1px rgba(0,0,0,.45);
}
/**************************************/
/*efecto 3d*/
#shadow{
  font-weight: bolder;
  font-size: 40px;
  text-shadow: 5px 0px #fa0, 5px 5px rgba(0,0,0,.10);
  width: 25%;
}

/************************************************/

#container{  
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top: 5%;
    float: left;
    margin-right: 5%;
}

#galery{
    width: 65%;
    height: 410px;
    margin-left: 5%;
    margin-top: 5%;
    float: left;
    margin-right: 5%;
}

#slideshow{
    width: 100%;
    height: 100%;
    margin: 5px auto; 
    position: relative;  
    padding: 3px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
    overflow: hidden;
}

#slideshow > div { 
    position: absolute; 
    width: 100%;
    height: 100%;
}

#slideshow > div > img{ 
    position: absolute; 
    width: 100%;
    height: 100%;
}
#slideshowUser{
    width: 100%;
    height: 400px;
    margin: 0 auto;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#slideshowUser > div { 
    position: absolute; 
    width: 100%;
    height: 100%;
}

#slideshowUser > div > img{ 
    position: absolute; 
    width: 100%;
    height: 100%;
}
/*************************************************/
/* register */
#register{
    float: left;
    width: 25%;
}

#login{
    width: 95%;
    background-color: #646269;
    box-shadow: 0 10px 10px 10px rgba(0,0,5,0.4), 
                0 10px 10px 25px rgba(0,0,5,0.4), 
                0 10px 10px 10px rgba(0,0,5,0.4);
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 35px;
}

.signUp{
    margin-top: 3%;
    font-size: 12px;
}

.signUp a{
    color: #fa0;
}

.signUp a:hover{
    color: #000;
}

/****************************************************/
/* logo */
.logo img {
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;
    height: 80px;
    border-radius: 40px;
}


/***********************************************************/
/* login for user */
#register2{
    float: left;
    width: 40%;
    margin-top: 5%;
}

#login2{
    width: 95%;
    background-color: #646269;
    box-shadow: 0 10px 10px 10px rgba(0,0,5,0.4), 
                0 10px 10px 25px rgba(0,0,5,0.4), 
                0 10px 10px 10px rgba(0,0,5,0.4);
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 35px;
}

.signUp2{
    margin-top: 3%;
    font-size: 12px;
}

.signUp2 a{
    color: #fa0;
}

.signUp2 a:hover{
    color: #000;
}

#button2{
    background-color: #245588;
    color: #fa0;
    padding: 5px;
    border-radius: 15%;
    font-size: 12px;
}

#button2:hover{
    background-color: #fa0;
    color: #000;
}