/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016, 8:56:19
    Author     : costy
*/
            
body{
    background-image: url("../img/fondo.jpg");
    background-repeat: repeat-y;
    background-position: top;
    background-clip: padding-box;
    background-size: cover;
    background-origin: padding-box;
    font-family: Tahoma, Geneva, sans-serif;
    color: #fff;
    margin: 0;
    width: 100%;
    height: 100%; 
}

#container{
    width: 100%;
    height: 2000px;
    top: 2px;
    background-color: coral;
    opacity: 0.6;
    overflow: hidden;
}

#header{
    margin-top: 20px;
    position: absolute;
    width: 99.5%;
    height: 170px;
    background-color: darkcyan;
}

#header h1{
    text-align: center;
}

#logo{
    background-image: url(../img/logo.jpeg);
    background-repeat: no-repeat;
    float: left;
    margin-left: 10px;
    width: 235px;
    height: 212px;
    border-radius: 50%;
}

#carrito{
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 20px;
}

#vaciarCarrito{
    position: absolute;
    top: 5px;
    right: 50px;
    width: 130px;
}

#cuponDescuento{
    position: absolute;
    font-size: 14px;
    float: right;
    right: 50px;
    top:100px;
}

#actionsBtn{
    float: right;
}

#category{
    float: right;
    margin-top: 25px;
}

input{
    background-color: chartreuse;
    border: 2px solid black;
    border-radius: 20%;
    padding: 2px;
    font-weight: bold;
    color: black;
}

input:hover{
    background-color: red;
    color: yellow;
    cursor: pointer;
}

#productsTable{
    margin-top: 350px;
}

.products{
    float: left;
    margin-left: 50px;
    margin-bottom: 100px;
    width: 250px;
    height: 350px;
    text-align: center;
    background-color: darkcyan;
    /*opacity: 0.6;*/
    border-radius: 10%;
    border: 2px solid red;
}

.products img{
    width: 190px;
    height: 190px;
}

.products h4, .products p{
    color: #fff;
}

.products a{
    text-decoration: none;
}

#trolley{
    width: 700px;
    height: 70px;
    background-color: red;
}
/*


#finalizar{
    position: absolute;
    top: 5px;
    right: 200px;
    margin: 0px;
    padding: 0px;
    width: 130px;
}

#finalizar  input[type="submit"]{
    background-color: chartreuse;
    border: 2px solid black;
    color: black;
    border-radius: 10%;
    font-weight: bold;
    padding: 1px;
}

#finalizar input[type="submit"]:hover{
    background-color: red;
    border: 2px solid yellow;
    color: yellow;
    cursor: pointer;
}

#descuento input[type="text"]{
    width: 120px;
    margin-right: 1px;
    font-size: 10px;
}

#descuento input[type="submit"]{
    background-color: chartreuse;
    border: 2px solid black;
    color: black;
    border-radius: 10%;
    font-weight: bold;
    margin-left: 1px;

}

#descuento input[type="submit"]:hover{
    background-color: red;
    color: yellow;
    cursor: pointer;
}

#lateral{
    top: 320px;
    float: right;
    height: 99%;
    background-color: darkcyan;
    opacity: 0.7;
}

img{
    width: 200px;
    height: 200px;
    margin-top: 15px;
    border-radius: 10%;
}

#contenedor{
    margin: 0 auto;
}

.item{
    width: 100px;
    height: 100px;
    margin-top: 5px;
    margin-left: 5px;
}

#carrito{
    width: 100px;
    height: 100px;
    margin: 0px;
    padding: 0px;
    float: right;
    margin-top: 5px;
}

img#carrito{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 5px;
}

form.eliminar{ 
    text-align: center;
    margin: 0px;
}

.eliminar{
    position: relative;
    top: 5px;
}

.eliminar input{
    border-radius: 100%;
    width: 25px;
    height: 25px;
    color: chartreuse;
    background-color: black;
    border: none;
    font-weight: bold;
    margin-top: 0px;
    margin-right: 5px;
}

.eliminar input:hover{
    background-color: red;
    border: 1px solid black;
    color: black;
    cursor: pointer;
}

.producto input[type="submit"]{
    width: 120px;
    height: 40px;
    background-color: black;
    color: red;
    border: none;
    font-weight: bold;
    border-radius: 10%;
}

.producto input[type="submit"]:hover{
    background-color: yellow;
    border: 2px solid red;
    color: black;
    cursor: pointer;
}
/****************************************************/
/*
#total{
    position: absolute;
    top: 115px;
    float: right;
    right: 300px;
    margin: 0px;
}

#total h4{
    color: black;
    background-color: chartreuse;
    border: 3px solid black;
    width: 85%;
    top: 100px;
}

#precioTotal{
    margin-right: 100px;
}

#categoria{
    position: absolute;
    top: 5px;
    right: 50px;
    width: 130px;
}

#categoria input:hover{
    background-color: red;
    color: yellow;
    cursor: pointer;
}

#categoria input{
    background-color: chartreuse;
    border: 2px solid black;
    border-radius: 10%;
    padding: 2px;
    font-weight: bold;
    color: black;
}*/
