<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    <form method="get">
      <input type="number" name="a" value="{{ a }}"> + 
      <input type="number" name="b" value="{{ b }}"> = {{ suma }}<br>
      <input type="submit" value="Sumar">
    </form>
    </body>
</html>