/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 25, 2016, 11:14:38 PM
    Author     : constantin brindusoiu
*/

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,700,900&subset=latin,latin-ext);

body{
  background-color: #1C1B1F;
}

h1, h2, h3, p{
    color: #fff;
    margin-bottom: 50px;
}

.title{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
/**************************************/
/*efecto 3d*/
.titleShadow{
  text-align: center;
  font-weight: bolder;
  font-size: 40px;
  text-shadow: 1px 0 white, 
                0 3px orange, 
                0 4px black, 
                0 10px 10px rgba(0,0,0,.45), 
                0 10px 10px rgba(0,0,0,.30), 
                0 20px 20px rgba(0,0,0,.45);
}
label{
    color: #fff;
}

#login{
    width: 35%;
    background-color: #646269;
    box-shadow: 0 10px 10px 10px rgba(0,0,5,0.4), 
                0 10px 10px 25px rgba(0,0,5,0.4), 
                0 10px 10px 10px rgba(0,0,5,0.4);
    margin: 0 auto;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 40px;
    padding-bottom: 30px;
    border-radius: 35px;
}

#principal{
    width: 100%;
    display: inline-flex;
    height: 100%;
    background-image: url("../img/disco/dj.jpg") ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/***********************************************************/
/*responsive*/
@media screen and (max-width:1200px){
  #login{
    width: 35%;
    height: 100%;
    margin: 2%;
  }
}

@media screen and (max-width:992px){
  #login{
    width: 35%;
    height: 100%;
    margin: 2%;
    padding-left: 5px;
  }
}

@media screen and (max-width:768px){
  #login{
    width: 35%;
    height: 100%;
    margin: 2%;
    padding-left: 2px;
  }
}

/*********************************************/
.signUp{
    margin-top: 10%;
}

.signUp a{
    color: #d0e9c6;
}
/*
table{
  width: 95%;
  text-align: center;
  margin: 0 auto;
  border: 2px solid darkcyan;
}

tr{
    border: 2px solid darkcyan;
}

.right {
  width: 99%;
  float: left;
}
  
#galeria {
  padding:2px;
  margin: 10px;
  list-style-type:none;
  height:100%;
  width:774px;
}

#galeria li {
  width:100px;
  height:300px;
  float:left;
  border-left:2px solid #000;
  }
  
#galeria li img {
  height:500px;
  width:510%;
  border:0;
  }
  
#galeria li:hover {
  background:#eee;
  width:400px;
  }
  
#galeria li:hover img {
  width:100%;
  }
  
*/